<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.pdx.cs.multiview.statementHelper.actionSet1"
            label="edu.pdx.cs.multiview.statementHelper.actionSet1"
            visible="true">
         <menu
               id="edu.pdx.cs.multiview.statementHelper.menu2"
               label="TempMenu">
            <groupMarker name="TempGroup"/>
         </menu>
         <action
               class="edu.pdx.cs.multiview.statementHelper.EnableHelperAction"
               icon="icons/statement.GIF"
               id="edu.pdx.cs.multiview.statementHelper.action1"
               label="Find EOS"
               style="toggle"
               toolbarPath="TempGroup"
               tooltip="Helps you find the end-of-statement"/>
      </actionSet>
   </extension>

</plugin>
